* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --violet-fonce: #0a012c;
  --violet-normal: #392675;
  --violet-clair: #8b5bcb;
  --rose: #e583aa;
}

#section1:first-child {
  /* background: linear-gradient(
    to right,
    var(--violet-fonce),
    var(--violet-normal),
    var(--violet-clair) 
  ); */
  background-image: url("../image/test.gif");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: 0% 100%;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  background: rgba(255, 255, 255, 0.2);
  /* width: clamp(90vw, 400px, 400px); */
  width: min(90vw, 500px);
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  color: white;
  padding: 20px;
  gap: 20px;
  backdrop-filter: blur(5px);
}

form h1 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form input:not(input[type="submit"]) {
  height: 40px;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
}

form input:not(input[type="submit"]):focus {
  outline: 2px solid var(--violet-fonce);
  border: none;
}

form button {
  position: relative;
  overflow: hidden;
  height: 35px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 1);
  background: transparent;
  color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 20px;
  z-index: 3;
}

form button:hover {
  transform: translateY(-2px);
  transition: 0.2s ease-in;
}

button:before {
  content: "";
  position: absolute;
  top: -30px;
  right: 110%;
  width: 5px;
  height: 80px;
  background: white;
  transition: 0.3s;
  z-index: -1;
  transform: rotate(45deg);
  /* border-radius: 30px; */
}

button:hover:before {
  right: -20px;
}

#section2 {
  background-image: url("neonSwipped.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#section3 {
  /* background-image: url("neonSwipped.jpg"); */
  background-size: cover;
  background-color: #060016;
  background: linear-gradient(#060016, var(--violet-fonce));
  height: 100vh;
  width: 100%;
  /* border-top: 1px solid white; */
}
